<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--服务启动后进入的页面-->
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <!--用户注册servlet-->
    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>qcg.icloud.servlet.UserSignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <!--用户登录servlet-->
    <servlet>
        <servlet-name>signInServlet</servlet-name>
        <servlet-class>qcg.icloud.servlet.UserSignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signInServlet</servlet-name>
        <url-pattern>/signInServlet</url-pattern>
    </servlet-mapping>
</web-app>
